.login-form-logo{
    max-width: 20vw;
}

.mdl-textfield__label{
    color: dimgray;
}

.mdl-button{
    background-color: darkred !important;
}

.login-card{
    margin-top: 50px;
}

.white{
    background-color: white;
}

.login-button{
    background-color: #AC1008 !important;
    margin-bottom: 20px !important;
}

.logo-box{
    text-align: center;
}

.logo{
    width: 100%;
    padding: 20px;
}

.mdl-layout .mdl-grid .mdl-cell .mdl-cell .mdl-button{
    background-color: darkred;
}

.clear{
    clear: both;
}

.is-focused{
    color: #AC1008 !important;
}

.mdl-textfield__label {
    color: #AC1008 !important;
}

.mdl-textfield__label:after{
    background-color: #AC1008 !important;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label{
    color: #AC1008 !important;
}

.dev{
    color: white;
    text-align: center;
    margin-top: 30px;
}

.center{
    text-align: center;
    color:dimgray;
}

.nce-red{
    background-color: #AC1008;
}