
.login-card{
    margin-top: 50px;
}

.logo{
    width: 100%;
    padding: 20px;
}

.nce-red{
    background-color: #AC1008;
	margin-bottom: 20px;
}

.white{
    background-color: white;
}

a{
    color:  #AC1008;
}

a:hover{
    color: inherit;
    text-decoration: inherit;
}

.input-field{
    width: 100%;
}

.mdl-textfield__label {
    color: #AC1008 !important;
}

.login-button{
    background-color: #AC1008 !important;
    margin-right: 0px !important;
}

.a-text{
    color: white;
}

.esqueci{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.mdl-cell .login-form-logo{
    max-width: 300px;
}

.mdl-textfield__label{
    color:dimgray;
}

.mdl-layout__container{
    background: auto !important;
}

.mdl-button{
    margin-right: 2vw ;
    padding: 0vh 3vh;
}

.mdl-layout .mdl-grid .mdl-cell .mdl-cell .mdl-button{
    background-color: darkred;
}

.clear{
    clear: both;
}

.is-focused{
    color: #AC1008 !important;
}

.mdl-textfield__label:after{
    background-color: #AC1008 !important;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label{
    color: #AC1008 !important;
}

.dev{
    color: white;
    text-align: center;
    margin-top: 30px;
}

.center{
    text-align: center;
}