.modal-content{
    border-radius: 2px !important;
}

body{
    color: dimgray;
    background-color: #434040;
}

.clear{
    clear: both;
}

.right{
    float: right;
}

.footer-dev{
    margin: 10px 0 !important;
}

.inicio-box{
    margin-top: 10px;
}

.mdl-mini-footer{
    margin-top: 0px !important;
}

.is-focused{
    color: #AC1008 !important;
}

.mdl-textfield__label:after{
    background-color: #AC1008 !important;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label{
    color: #AC1008 !important;
}

.mdl-textfield__label {
    color: #AC1008 !important;
}

.footer-dev{
    min-height: 55px !important;
    background-color: #434040;
    margin: 0 !important;
    padding: 10px;
}