.demo-card-wide {
    width: 100%;
}

.mdl-card__title {
    color: #AC1008;
    height: 120px;
}

.mdl-button {
    text-decoration: none !important;
    font-weight: normal;
}

.mdl-button--colored {
    color: white !important;
    background-color: #AC1008 !important;
}

.calendario-div{
    margin: 40px auto;
}

.mdl-mini-footer{
 background-color: #424242 !important;
}

.fc-view-container{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);

}

.fc-day-header{
    background-color: darkred;
    color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.reservas-box{
    width: 100%;
    min-height: inherit; !important;
    padding: 10px;
}

.nce-red{
    background-color: #AC1008;
    margin-bottom: 10px;
}

.horario-box{
    width: 100%;

}