body {
    font-family: "Roboto";
    background-color: #EDEAEA;
}

header {
    background-color: darkred !important;
}

.mdl-layout__header-row {
    padding-left: 40px;
    width: 100%;
}

.logo-box {
    width: 4%;
    margin-right: 1.5em;
    padding: 5px;
}

.logo {
    width: 100% !important;
    padding: 0 !important;
}

.mdl-navigation__link {
    text-decoration: none !important;
}

.mdl-navigation__link:hover {
    color: darkred !important;
    background-color: white;
}

.mdl-layout__drawer {
    color: white;
    background-color: dimgray;
    border: none !important;
}

.mdl-layout__drawer .mdl-navigation__link {
    color: white !important;
}

.mdl-layout__drawer .mdl-navigation__link:hover {
    color: darkred !important;
    background-color: white !important;
}

.mdl-mini-footer {
    margin-top: 3em;
    padding: 0;
}

.mdl-mini-footer__left-section{
    padding: 1em;
}

.mdl-mini-footer__right-section{
    padding: 1em;
}

.footer-link:hover {
    text-decoration: none;
    color: darkred;
}

.logo-ejcm {
    width: 4em;
}

.clear{
    clear: both;
}