.login-form-logo{
    max-width: 20vw;
}

.mdl-textfield__label{
    color:dimgray;
}

a:hover{
    color: inherit;
    text-decoration: inherit;
}

.mdl-button{
    background-color: #AC1008 !important;
}

.login-card{
    margin-top: 50px;
}

.white{
    background-color: white;
}

.button{
    background-color: #AC1008 !important;
    margin-bottom: 0.5em !important;
    margin-right: 0.5em !important;
}

.logo-box{
    text-align: center;
}

.logo{
    width: 100%;
    padding: 20px;
}

.dev{
    color: white;
    text-align: center;
    margin-top: 2em;
    padding-left: 5em;
    padding-right: 5em;
}

.center{
    text-align: center;
    color:dimgray;
}

.mdl-data-table {
    margin-top: 2em;
    margin-bottom: 2em;
}

/*.pagination li span{
    color: darkred !important;
}

.pagination li a{
    color: darkred !important;
}

.pagination .active span{
    background-color: lightgray !important;
    border-color: lightgray !important;
}*/

h3 {
    margin-bottom: 0;
}

.button-add{
    margin: 10px 0 0 0 !important;
}

.table-row, .table-row-2{
    min-height: 50px;
    line-height: 50px;
    font-size: 12px;
}

.table-row-2{
    border-top: 1px solid rgba(0,0,0,.12);
    border-bottom: 1px solid rgba(0,0,0,.12);
    -webkit-transition-duration: .28s;
    transition-duration: .28s;
}

.table-row-2:hover{
    background-color: rgba(0,0,0,.12);
}

.mdl-data-table{
    border: 0px !important;
}

@media(min-width: 768px){
    .button-add{
        float: left;
    }
}

@media(max-width: 768px){
    .title-text{
        margin-bottom: 30px;
    }
    .s-dont{
        display: none;
    }
    .table-row-2{
        min-height: 50px;
        line-height: 40px;
        font-size: 14px;
    }
}

.table-button{
    margin-top: 10px;
}

.button-area{
    width: 100%;
    margin-bottom: 50px !important;
}

.pagination>.active>span{
    background-color: #AC1008 !important;
    border-color: #AC1008 !important;
}
.pagination>li>a{
    color: #AC1008 !important;
}

.pagination{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

