.button-area{
    width: 100%;
    margin-bottom: 50px !important;
}

.area-box{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    width: 100%;
    margin-bottom: 50px;
    background-color: #f5f5f5;
}

.button-local{
    margin-bottom: 20px !important;
}

.button-delete{
    margin-left: 10px !important;
}

.area-box-header{
    padding: 0 !important;
}

.recurso-box{
    background-color: #AC1008 ;
    color: #ffffff;
    display: inline;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 5px 0 5px;
    text-align: center;
}

.recurso-descricao{
    overflow: hidden;
}

.nce-red{
    background-color: #AC1008;
}