.demo-card-wide {
    width: 100%;
}

.mdl-card__title {
    color: #AC1008;
}

.mdl-button--colored {
    text-decoration: none !important;
    font-weight: normal;
    color: white !important;
    background-color: #AC1008 !important;
}

.mdl-card__title-text{
    color: #AC1008;
}

.button-div{
  padding: 0px !important;
}

.mdl-button:hover{
    text-decoration: none;
    color: dimgray;
}

.demo-card-square{
    width: 100%;
    margin: 1em;
}

.page-title{
    margin: 50px 30px 30px 30px;
}

.demo-card-square{
    margin: 0px !important;
    height: 150px;
}

.card-out-box{
    height: 240px;
}



@media(min-width: 992px) and (max-width: 1199px){
    .mdl-card__title{
        font-size: 13px !important;
    }
}

@media(max-width: 768px){
    .title-text{
        margin-bottom: 30px;
    }
}

.center{
    text-align: center;
    color:dimgray;
}

.login-card{
    margin-top: 50px;
}